
#root {
  width: 100vw;
  max-height:fit-content;
}

.no-scroll {
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
}

.titulo-homepage {
  color: black;
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
  font-weight: 600;
  padding-top: 50px;
}

.carrassol {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
}

.shadow {
-moz-box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
}

.embla {
  max-width: 500px;
  --slide-height: 19rem;
  --slide-spacing: 0px;
  --slide-size: 100%;
  border:#ffd23d 5px solid;
  border-radius: 5%;
}
.embla__viewport {
  overflow: hidden;
  border-radius: 5%;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  border-radius: 5%;
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
  border-radius: 5%;
}



#Menu-div {
  top: 0;
  left: -350px;
  position: fixed;
  z-index: 100;
  display: flex ;
  min-width: 350px;
  height: 100vh;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  border-right: #ffdf76 solid 5px;
}

#menu-text {
  color: rgb(255, 255, 255);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 800;
}

#reportagens {
  color: #ffd23d;
  font-weight: 800;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15 px;
}

main {
  width: 1280px;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  z-index: 500;
  position: sticky;
  top: 0;
  background: #ffdf76;
}

#menu-button {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color:#ffffff;
}

#menu-button:hover .menu-text {
  visibility: visible;
  transform: scaleX(1); 
}

#menu-button:hover {
  border-color: rgba(0, 0, 0, 0);
}

.menu-text {
  transform: scaleX(0);
  white-space: nowrap;
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  visibility: hidden;
}

header {
  min-width: 1280px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  color: #f1f1f1;
  gap: 30%;
}

.header-items {
  width: auto;
  height: 100px;
}

.menu {
  width: auto;
  height: 60px;
}

.textual-homepage {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  gap: 20px;
  max-width: 500px;
}

.homepage {
    min-width: 1280px;
    min-height: 100vh;
    max-height: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
    color: #1f2123;
}

.footer-container {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  max-height: 80px;
  align-items: center;
  width: 100vw;
  z-index: 500;
  position: sticky;
  top: 0;
  background: #ffdf76;
}

footer {
  min-width: 1280px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  color: #f1f1f1;
  gap: 30%;
}

.imagens {
  height: 100%;
}

.rede-div {
  display: flex;
  position: absolute;
  top: 10px;
  left: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.rede {
  width: auto;
  height: 60px;
}

.rede-tag {
  color:#ffd23d;
  font-size: 24px;
  font-weight: 800;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  text-align: center;
}

.nome {
  font-weight: 700;
  font-size: 25px;
  text-shadow: 3px 3px #999;
}

.idade {
  font-weight: 700;
  font-size: 25px;
  text-shadow: 3px 3px #999;
}

.periodo {
  font-weight: 700;
  font-size: 25px;
  text-shadow: 3px 3px #999;
}

.curso {
  font-weight: 700;
  font-size: 25px;
  text-shadow: 3px 3px #999;
}

.textos-equipe {
  position: absolute;
  top: 10px;
  right: -60px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 580px;  
}
