body {
  display: flex;
  flex-direction: column;
  background-color:#f1f1f1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto; 
  margin: 0 auto;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  gap: 10px;
  color:#ffffff;
}

main {
  width: 1280px;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: #ffdf76;;
}

header {
  max-width: 1280px;
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  top: 0;
  color: #f1f1f1;
  gap: 30%;
  z-index: 1000;
}

.header-items {
  width: auto;
  height: 100px;
}

.menu {
  width: auto;
  height: 60px;
}

/*
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/