.notfound-main {
    display: flex;
    background-color: #ffdf76;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.notfound {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color:#213547;
}